h1 {
    font-size: 4.5em;
    letter-spacing: .1rem;
}

h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}

.hero-text{
    color: #070F22;
    /* background-color: rgba(76, 175, 80, 0.3)  */
}

.myResumeBtn:hover {
    color: #AC976B;
}

/* media queries */
@media screen and (max-width:1024px) {
    h1 {
        font-size: 4em;
    }
    
}

@media screen and (max-width:768px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.5em;
    }
    .hero-image {
        height: 80vh;
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../../assets/Untitled_Artwork.png); */
    }
}

@media screen and (max-width:576px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    .hero-image {
        height: 70vh;
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../../assets/Untitled_Artwork.png); */
    }
    
    
}